$color-primary-1: hsl(180, 56%, 75%);
$color-primary-2: hsl(180, 66%, 49%);
$color-secondary-1: hsl(257, 27%, 26%);
$color-accent-1: hsl(0, 87%, 67%);
$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(0, 0%, 75%);
$color-neutral-3: hsl(258, 7%, 63%);
$color-neutral-4: hsl(255, 11%, 22%);
$color-neutral-5: hsl(260, 8%, 14%);

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 24px;
    text-align: center;
    background-color: $color-neutral-5;
    .logo {
        margin-bottom: 25px;
    }

    h4 {
        margin-bottom: 20px;
    }

    a {
        font-weight: 500;
        color: $color-neutral-2;
    }

    p {
        font-size: 0.825em;
    }
}

.footer-links-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.footer-nav-list {
    font-size: 0.825em;
    margin: 0;
    margin-bottom: 12px;
    padding-left: 0;
    list-style-type: none;
    li {
        margin-bottom: 10px;
    }
}

.social-list {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-top: 30px;
    padding-left: 0;
    list-style-type: none;
    li {
        position: relative;
        width: 24px;
        height: 24px;
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:hover {
                filter: brightness(60%) sepia(100%) saturate(310%)
                    hue-rotate(130deg);
            }
        }
    }
}

@media (min-width: 550px) {
    .footer-links-grid {
        grid-template-columns: repeat(3, minmax(auto, 200px));
        grid-template-rows: auto;
    }
}
