$color-primary-1: hsl(180, 56%, 75%);
$color-primary-2: hsl(180, 66%, 49%);
$color-secondary-1: hsl(257, 27%, 26%);
$color-accent-1: hsl(0, 87%, 67%);
$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(230, 25%, 95%);
$color-neutral-3: hsl(0, 0%, 75%);
$color-neutral-4: hsl(258, 7%, 63%);
$color-neutral-5: hsl(255, 11%, 22%);
$color-neutral-6: hsl(260, 8%, 14%);
$breakpoint-landscape-375: 375px;
$breakpoint-tablet-426: 426px;
$breakpoint-tablet-550: 550px;
$breakpoint-desktop-769: 769px;
$breakpoint-desktop-1025: 1025px;

// ********************************************************
// Header
header {
    position: sticky;
    z-index: 9;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 90px;
    background-color: $color-neutral-1;
    @media (min-width: $breakpoint-tablet-426) {
        height: 100px;
    }

    @media (min-width: $breakpoint-desktop-769) {
        position: static;
        height: 144px;
    }

    @media (max-height: 500px) and (orientation: landscape) {
        position: static;
    }
}

// ********************************************************
// Nav
nav {
    position: absolute;
    z-index: 9;
    top: 96px;
    left: 50%;
    box-sizing: border-box;
    width: 87%;
    max-width: 430px;
    padding: 27px 25px 40px;
    transition: transform 0.5s ease-in-out;
    transform: translate(-50%, -200vh);
    text-align: center;
    border-radius: 10px;
    background-color: $color-secondary-1;
    @media (max-height: $breakpoint-landscape-375) and (orientation: landscape) {
        padding-bottom: 25px;
    }

    @media (min-width: $breakpoint-tablet-426) {
        top: 106px;
    }

    @media (min-width: $breakpoint-desktop-769) {
        position: static;
        max-width: none;
        margin-left: 30px;
        padding: 0;
        transition: none;
        transform: none;
        border-radius: 0;
        background-color: transparent;
    }

    @media (min-width: $breakpoint-desktop-1025) {
        margin-left: 30px;
    }
}

.mobile-nav-open {
    transform: translate(-50%, 0);
}

.nav-list {
    display: grid;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    a {
        font-size: 1em;
        font-weight: 700;
        line-height: 55px;
        display: block;
        color: $color-neutral-2;
        &:hover {
            color: $color-primary-2;
        }
    }

    &__login-li {
        margin-top: 19px;
        padding-top: 17px;
        padding-bottom: 10px;
        border-top: 1px solid $color-neutral-4;
    }

    &__sign-up-li {
        .button {
            font-size: 0.9em;
            width: 100%;
            max-width: 250px;
            height: 50px;
        }
    }

    @media (min-width: $breakpoint-tablet-550) {
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: row;
        &__login-li {
            margin: 0;
            padding: 0;
            border: 0;
        }

        &__sign-up-li {
            align-self: center;
            grid-row: 3 / -1;
            grid-column: 1 / -1;
        }
    }

    @media (max-height: $breakpoint-landscape-375) and (orientation: landscape) {
        row-gap: 10px;

        a {
            line-height: 45px;
        }
    }

    @media (min-width: $breakpoint-desktop-769) {
        display: flex;

        a {
            font-size: 0.8em;
            display: inline;
            color: $color-neutral-4;
            &:hover {
                color: $color-neutral-6;
            }
        }

        &__link-li {
            width: 85px;

            &:nth-child(3) {
                margin-right: auto;
            }

            &:nth-child(4) {
                margin-left: auto;
            }
        }

        &__sign-up-li {
            .button {
                font-size: 0.8em;
                width: 105px;
                height: 45px;
                padding: 0;
            }
        }
    }

    @media (min-width: $breakpoint-desktop-1025) {
        &__link-li {
            width: 95px;
        }
    }
}

.nav-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url("../../src/images/icon-nav-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover {
        cursor: pointer;
        background-image: url("../../src/images/icon-nav-open-blue.svg");
    }
    &--mobile-nav-open {
        background-image: url("../../src/images/icon-nav-close.svg");
        &:hover {
            background-image: url("../../src/images/icon-nav-close-blue.svg");
        }
    }

    @media (min-width: $breakpoint-desktop-769) {
        display: none;
    }
}
