.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 168px;
  text-align: center;
  background-color: white;
}

.intro-section img {
  position: relative;
  top: 23px;
  left: 82px;
  overflow: hidden;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 130vw;
  max-width: 578px;
  height: auto;
}

.intro-section h1 {
  margin-top: 64px;
  margin-bottom: -2px;
}

.intro-section p {
  line-height: 29px;
}

.intro-section .button {
  margin-top: 15px;
}

@media (min-width: 769px) {
  .intro-section {
    position: relative;
    z-index: -1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 222px;
    text-align: left;
  }
  .intro-section > *:not(img) {
    max-width: 600px;
  }
  .intro-section > h1,
  .intro-section > p {
    width: 40vw;
  }
  .intro-section img {
    position: absolute;
    top: 25px;
    left: 58vw;
    width: 720px;
    max-width: unset;
  }
  .intro-section h1 {
    margin-top: 90px;
  }
  .intro-section p {
    font-size: 1.4em;
    line-height: 32px;
    margin-top: 8px;
  }
  .intro-section .button {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.form-section {
  padding-top: 35px;
  padding-bottom: 27px;
}

.form-section-content {
  margin-top: -116px;
}

.url-form {
  padding: 24px;
  border-radius: 10px;
  background-color: #3b3054;
  background-image: url("../../src/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.url-form__error-message {
  font-size: 0.7em;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0.04em;
  color: #f46262;
}

.url-form .button {
  font-size: 1em;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

@media (min-width: 426px) {
  .url-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .url-form .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 190px;
  }
}

@media (min-width: 650px) {
  .url-form {
    display: -ms-grid;
    display: grid;
    padding-bottom: 19px;
    -webkit-column-gap: 24px;
            column-gap: 24px;
    -ms-grid-columns: 1fr 130px;
        grid-template-columns: 1fr 130px;
    -ms-grid-rows: auto 22px;
        grid-template-rows: auto 22px;
  }
  .url-form__error-message {
    margin-bottom: 0;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .url-form .button {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (min-width: 769px) {
  .url-form {
    padding: 38px 44px 24px;
    background-image: url("../../src/images/bg-shorten-desktop.svg");
    -ms-grid-columns: 1fr 188px;
        grid-template-columns: 1fr 188px;
  }
  .url-form__error-message {
    font-size: 0.9em;
    margin-top: 6px;
  }
  .url-form .button {
    font-size: 1.2em;
    height: 64px;
  }
}

@media (min-width: 1025px) {
  .url-form {
    padding: 52px 65px 30px;
  }
}

.link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

.link-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 22px;
  padding-top: 8px;
  padding-bottom: 16px;
  border-radius: 4px;
  background-color: white;
}

.link-list li p {
  font-size: 0.9em;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 15px;
}

.link-list__original {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  color: #232127;
  border-bottom: 1px solid #eff0f5;
}

.link-list__shortened {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #2acfcf;
}

.link-list .button {
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 30px);
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

@media (min-width: 426px) {
  .link-list .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 100px;
  }
}

@media (min-width: 550px) {
  .link-list li {
    display: -ms-grid;
    display: grid;
    padding-bottom: 8px;
    row-gap: 8px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .link-list__original {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .link-list__shortened {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .link-list .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (min-width: 769px) {
  .link-list li {
    font-size: 1.4em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 8px 8px 16px;
  }
  .link-list .button {
    font-size: 0.6em;
  }
}

@media (min-width: 1025px) {
  .link-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .link-list li p {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .link-list__original {
    margin-right: auto;
    border: 0;
  }
  .link-list__shortened {
    margin-left: auto;
  }
}

.stats-section {
  padding-top: 21px;
  padding-bottom: 78px;
  text-align: center;
}

.stats-section h2 {
  margin-bottom: 18px;
}

.stats-section p {
  font-size: 1em;
  font-weight: 500;
  line-height: 27px;
}

@media (min-width: 769px) {
  .stats-section {
    padding-top: 40px;
    padding-bottom: 123px;
  }
  .stats-section h2 {
    margin-bottom: 0;
  }
  .stats-section > p {
    font-size: 1.125em;
    line-height: 32px;
    max-width: 510px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: auto;
  }
}

.stats {
  display: -ms-grid;
  display: grid;
  margin-top: 91px;
  background-image: url("../../src/images/bg-stats-mobile.svg");
  background-repeat: repeat-y;
  background-position-x: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 88px;
}

.stats__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 24px 23px;
  border-radius: 4px;
  background-color: white;
}

.stats__category h3 {
  margin-top: 32px;
  margin-bottom: -2px;
}

.stats__category p {
  line-height: 26px;
}

.stats__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  border-radius: 50%;
  background-color: #3b3054;
}

@media (min-width: 1025px) {
  .stats {
    margin-top: 96px;
    background-image: url("../../src/images/bg-stats-desktop.svg");
    background-repeat: repeat-x;
    background-position: center 44%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .stats__category {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-right: 31px;
    padding-left: 31px;
    text-align: left;
  }
  .stats__category p {
    font-size: 0.95em;
  }
  .stats__category:nth-child(2) {
    margin-top: 45px;
  }
  .stats__category:nth-child(3) {
    margin-top: 89px;
  }
  .stats__icon-wrapper {
    margin-top: -44px;
  }
}

.final-section {
  padding-top: 72px;
  padding-bottom: 90px;
  text-align: center;
  background-color: #3b3054;
  background-image: url("../../src/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.final-section h2 {
  margin-bottom: 16px;
  color: #eff0f5;
}

@media (min-width: 769px) {
  .final-section {
    padding-top: 20px;
    padding-bottom: 56px;
    background-image: url("../../src/images/bg-boost-desktop.svg");
  }
  .final-section h2 {
    margin-bottom: 25px;
  }
}
