@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.section-padding {
  padding-right: 24px;
  padding-left: 24px;
}

@media (min-width: 426px) {
  .section-padding {
    padding-right: 11.5vw;
    padding-left: 11.5vw;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #eff0f5;
}

h1 {
  font-size: 2.5em;
  line-height: 46px;
  color: #35323e;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  color: #35323e;
}

h3 {
  font-size: 1.37em;
  color: #35323e;
}

h4 {
  color: #eff0f5;
}

p,
li {
  font-size: 1.125em;
  color: #9e9aa7;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2acfcf;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56px;
  padding-right: 41px;
  padding-left: 41px;
  letter-spacing: 1px;
  color: white;
  border: 0;
  border-radius: 30px;
  background-color: #2acfcf;
}

.button:hover {
  cursor: pointer;
  background-color: #9ce3e3;
}

.input-field {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-right: 13px;
  padding-left: 13px;
  border: 0;
  border: 3px solid transparent;
  border-radius: 4px;
}

.input-field--invalid {
  border-color: #f46262;
}

.input-field--invalid:placeholder {
  opacity: 0.5;
  color: #f46262;
}

.logo {
  width: 121px;
  height: 33px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90px;
  background-color: white;
}

nav {
  position: absolute;
  top: 96px;
  left: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 87%;
  max-width: 430px;
  padding: 27px 25px 40px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -200vh);
          transform: translate(-50%, -200vh);
  text-align: center;
  border-radius: 10px;
  background-color: #3b3054;
}

.nav-list__sign-up-li .button {
  font-size: 0.9em;
  width: 100%;
  max-width: 250px;
  height: 50px;
}

.nav-open {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.nav-list {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.nav-list a {
  font-size: 1em;
  font-weight: 700;
  line-height: 55px;
  display: block;
  color: #eff0f5;
}

.nav-list a:hover {
  color: #2acfcf;
}

.nav-list__login-li {
  margin-top: 19px;
  padding-top: 17px;
  padding-bottom: 10px;
  border-top: 1px solid #9e9aa7;
}

.nav-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url("../../src/images/icon-nav-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nav-button:hover {
  cursor: pointer;
  background-image: url("../../src/images/icon-nav-open-blue.svg");
}

.nav-button--nav-open {
  background-image: url("../../src/images/icon-nav-close.svg");
}

.nav-button--nav-open:hover {
  background-image: url("../../src/images/icon-nav-close-blue.svg");
}

@media (min-width: 426px) {
  header {
    height: 100px;
  }
  nav {
    top: 106px;
  }
}

@media (min-width: 550px) {
  .nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (minmax(auto, 250px))[2];
        grid-template-columns: repeat(2, minmax(auto, 250px));
    gap: 20px;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-auto-flow: row;
  }
  .nav-list__sign-up-li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    grid-row: 3 / -1;
    grid-column: 1 / -1;
  }
  .nav-list__login-li {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

@media (max-height: 330px) and (orientation: landscape) {
  nav {
    padding-bottom: 27px;
  }
  .nav-list {
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .nav-list a {
    line-height: 50px;
  }
}

@media (min-width: 769px) {
  header {
    position: static;
    height: 144px;
  }
  nav {
    position: static;
    max-width: none;
    margin-left: 30px;
    padding: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
    background-color: transparent;
  }
  .nav-button {
    display: none;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list__link-li {
    width: 100px;
  }
  .nav-list__link-li:nth-child(3) {
    margin-right: auto;
  }
  .nav-list__link-li:nth-child(4) {
    margin-left: auto;
  }
  .nav-list__sign-up-li .button {
    font-size: 0.8em;
    width: 105px;
    height: 45px;
    padding: 0;
  }
  .nav-list a {
    font-size: 0.8em;
    display: inline;
    color: #9e9aa7;
  }
  .nav-list a:hover {
    color: #232127;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 56px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #232127;
}

footer .logo {
  margin-bottom: 25px;
}

footer h4 {
  margin-bottom: 20px;
}

footer a {
  font-weight: 500;
  color: #bfbfbf;
}

footer p {
  font-size: 0.825em;
}

.footer-links-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.footer-nav-list {
  font-size: 0.825em;
  margin: 0;
  margin-bottom: 12px;
  padding-left: 0;
  list-style-type: none;
}

.footer-nav-list li {
  margin-bottom: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
  margin-top: 30px;
  padding-left: 0;
  list-style-type: none;
}

.social-list li {
  position: relative;
  width: 24px;
  height: 24px;
}

.social-list li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-list li a:hover {
  -webkit-filter: brightness(60%) sepia(100%) saturate(310%) hue-rotate(130deg);
          filter: brightness(60%) sepia(100%) saturate(310%) hue-rotate(130deg);
}

@media (min-width: 550px) {
  .footer-links-grid {
    -ms-grid-columns: (minmax(auto, 200px))[3];
        grid-template-columns: repeat(3, minmax(auto, 200px));
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}
