.intro-section {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img {
        position: relative;
        top: 26px;
        left: 82px;
        overflow: hidden;
        order: -1;
        width: 130vw;
        max-width: 578px;
        height: auto;
    }

    h1 {
        margin-top: 64px;
        margin-bottom: -2px;
    }

    p {
        line-height: 29px;
    }

    .button {
        margin-top: 15px;
    }
}
